*{
	margin: 0;
	padding: 0;
 	font-family: 'Open Sans', sans-serif;
}
.header{
	align-items: center;
}
.container{
	display: flex;
	justify-content: space-between;
	margin: 15px 20px;
	padding: 15px 15px;
	text-align: center;
}
a{
	text-decoration: none;
}

.header-menu li{
	list-style: none;
	display: inline-block;
	margin-top: 18px;
	padding: 20px;
    color: #fff;
}

/*All button designs are here*/

.header-button button{
	background: navy;
    color: white;
    padding: 10px 15px;
    margin-top: 18px;
    margin-right: 40px;

}

.left-intro button{
	background-color: #2e367d;
    color: #fff;
    padding: 12px 12px;
    margin-top: 15px;
    border-radius: 5px;
}

/*Paragraph of intro*/

.left-intro p{
	    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 25px;
}
/*h1 design*/
.left-intro	h1 {
	font-size: 50px;
	color: navy;
}

/*left-intro design*/

.left-intro{

	margin-left: 25px;
	padding: 100px 0px 40px;
}