*{
	margin: 0;
	padding: 0;
 	font-family: 'Open Sans', sans-serif;
}
body{
   width: 100%;
   height: 100%;
   overflow: ;
  
}
.header{
	align-items: center;
}
.container{
	display: flex;
	justify-content: space-between;
	margin: 15px 20px;
	padding: 15px 15px;
	text-align: center;
}
a{
	text-decoration: none;
}

.header-menu li{
	list-style: none;
	display: inline-block;
	margin-top: 18px;
	padding: 20px;
    color: #fff;
}

/*All button designs are here*/

.header-button button{
	background: navy;
    color: white;
    padding: 10px 15px;
    margin-top: 18px;
    margin-right: 40px;

}

.left-intro button{
	background-color: #2e367d;
    color: #fff;
    padding: 12px 12px;
    margin-top: 15px;
    border-radius: 5px;
}

/*Paragraph of intro*/

/*.left-intro p{
	    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
}*/
/*h1 design*/
.left-intro	h1 {
	font-size: 50px;
	color: navy;
}

/*left-intro design*/

.left-intro{

	margin-left: 25px;
	padding: 100px 0px 40px;
}

/*.shape01{
	padding: 20px 15px 10px;
	background: pink;
}
.shape02{
	padding: 20px 15px 10px;
	background: pink;
}
.shape03{
	padding: 20px 15px 10px;
	background: pink;
}*/

.left-intro h1{
	font-size: 40px;
}
h1{
	/*color: #171f3c;
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
    line-height: 30px;
    font-weight: 300;*/
    font-size: 50px;
	color: navy;
	text-align: center;
}

p{
	display: block;
	color: #526375;
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: center;
    inline-size: 400px;
    overflow-wrap: break-word;
}

/*.box p{
	inline-size: 200px;
    overflow-wrap: break-word;
}*/
.newintro{
	display: flex;
	justify-content: space-between;
	margin: 0;
}
.details {

	display: flex;
	/*margin-left: 60px;*/
	margin-left: 300px;
	padding: 100px 60px 80px;
	background-color: #2e367d;
	color: white;
	border-radius: 8px;


}
.details p{
	color: whitesmoke;
}
.branch{
	text-align: center;

}

li{
	
	list-style: none;
}

.sociallink{
	justify-content: space-around;
}

.shape01{
	padding: 20px 15px 10px;
	background-color: #f9799a;
	border-radius: 10px;
	text-align: center;

}
.shape02{
	padding: 20px 15px 10px;
	background-color: #61c4d8;
	border-radius: 10px;
	text-align: center;

}

.shape03{
	padding: 20px 15px 10px;
	background-color: #1e266d;
	border-radius: 10px;
	text-align: center;

}